<button type="submit" class="btn btn-primary" id="create" onclick="addClass()">Create a New Pokemon</button>

<section id="create-pokemon" class="hide">
  <h2>Create New Pokemon</h2>
  <form class="new-pokemon-form">
  <label for="pokemon-name">Enter your pokemon's name (required):</label>
  <input type="text" name="pokemon-name" id="pokemon-name" />
  <br><br>

  <label for="type">Choose your first Pokemon type (required):</label>
  <select type="type" id="type">
    <option value="Bug">Bug</option>
    <option value="Dragon">Dragon</option>
    <option value="Electric">Electric</option>
    <option value="Fighting">Fighting</option>
    <option value="Fire">Fire</option>
    <option value="Flying">Flying</option>
    <option value="Ghost">Ghost</option>
    <option value="Grass">Grass</option>
    <option value="Ground">Ground</option>
    <option value="Ice">Ice</option>
    <option value="Normal">Normal</option>
    <option value="Poison">Poison</option>
    <option value="Psychic">Psychic</option>
    <option value="Rock">Rock</option>
    <option value="Water">Water</option>
  </select>
  <br><br>

  <label for="type2">Choose your second Pokemon type:</label>
  <select type="type2" id="type2">
    <option value="Bug">Bug</option>
    <option value="Dragon">Dragon</option>
    <option value="Electric">Electric</option>
    <option value="Fighting">Fighting</option>
    <option value="Fire">Fire</option>
    <option value="Flying">Flying</option>
    <option value="Ghost">Ghost</option>
    <option value="Grass">Grass</option>
    <option value="Ground">Ground</option>
    <option value="Ice">Ice</option>
    <option value="Normal">Normal</option>
    <option value="Poison">Poison</option>
    <option value="Psychic">Psychic</option>
    <option value="Rock">Rock</option>
    <option value="Water">Water</option>
  </select>
  <br><br>

{{!-- moves --}}
  <label for="move1">Enter your pokemon's first move (required):</label>
  <input type="text" name="move1" id="move1" />
  <br><br>

  <label for="move2">Enter your pokemon's second move:</label>
  <input type="text" name="move2" id="move2" />
  <br><br>

  <label for="move3">Enter your pokemon's third move:</label>
  <input type="text" name="move3" id="move3" />
  <br><br>

  <label for="move4">Enter your pokemon's fourth move:</label>
  <input type="text" name="move4" id="move4" />
  <br><br>

{{!-- abilities --}}

  <label for="ability1" aria-required="">Enter your pokemon's first ability (required):</label>
  <input type="text" name="ability1" id="ability1" />
  <br><br>

  <label for="ability2">Enter your pokemon's second ability:</label>
  <input type="text" name="ability2" id="ability2" />
  <br><br>

  <label for="ability3">Enter your pokemon's third ability:</label>
  <input type="text" name="ability3" id="ability3" />
  <br><br>

  <input type="submit" value="Submit">
</form>

</section>

{{#if pokemons.length}}
<h2 class="m-3">My Pokemon</h2>
{{#each pokemons as |pokemon|}}
<div class="card p-2 m-2 rounded shadow" >
  <div class="card-body">
    {{> pokemon-data pokemon }}
    <a href="/dashboard/edit/{{id}}" class="stretched-link">Edit Pokemon</a>
  
  </div>
  
</div>
{{/each}}
{{/if}}

 <script src="/javascript/submit-pokemon.js"></script>

