
<div class="container padded-div">
  <div class="row justify-content-center">
    {{!-- Button to create Pokemon --}}
    <button type="submit" class="btn btn-primary pt-2" id="create" onclick="addClass()">Create a New Pokemon</button>
    <section id="create-pokemon" class="hide">
      <h2>Create New Pokemon</h2>
      <form class="new-pokemon-form">
      <label for="pokemon-name">Enter your pokemon's name (required):</label>
      <input type="text" name="pokemon-name" id="pokemon-name" />
      <br><br>

      <label for="type">Choose your first Pokemon type (required):</label>
      <select type="type" id="type">
        {{> type-options }}
      </select>
      <br><br>

      <label for="type2">Choose your second Pokemon type:</label>
      <select type="type2" id="type2">
        <option value="">None</option>
        {{> type-options }}
      </select>
      <br><br>

    {{!-- moves --}}

<div class="move1" id="first-move">
      <label for="move1">Enter your pokemon's first move (required):</label>
      <input type="text" name="move1" id="move1" onblur="showMove2()" />
</div>

<div class="hide" id="second-move">
      <label for="move2">Enter your pokemon's second move:</label>
      <input type="text" name="move2" id="move2" onblur="showMove3()" />
</div>
<div class="hide" id="third-move">
      <label for="move3">Enter your pokemon's third move:</label>
      <input type="text" name="move3" id="move3" onblur="showMove4()" />
</div>
<div class="hide" id="fourth-move">
      <label for="move4">Enter your pokemon's fourth move:</label>
      <input type="text" name="move4" id="move4" />
</div>

    {{!-- abilities --}}
<div class="ability1" id="first-ability">
      <label for="ability1" aria-required="">Enter your pokemon's first ability (required):</label>
      <input type="text" name="ability1" id="ability1" onblur="showAbility2()"  />
</div>
<div class="hide" id="second-ability">
      <label for="ability2">Enter your pokemon's second ability:</label>
      <input type="text" name="ability2" id="ability2" onblur="showAbility3()" />
</div>
<div class="hide" id="third-ability">
      <label for="ability3">Enter your pokemon's third ability:</label>
      <input type="text" name="ability3" id="ability3" />
</div>

      <input type="submit" value="Submit">
    </form>

    </section>
    {{!-- List of users existing Pokemon --}}
    {{#if pokemons.length}}
    <h2 class="m-3">My Pokemon</h2>
    {{#each pokemons as |pokemon|}}
    <div class="card p-2 m-2 rounded shadow">
      <div class="card-body">
        {{> pokemon-data pokemon }}
        <a href="/dashboard/edit/{{id}}" class="stretched-link">Edit Pokemon</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>

 <script src="/javascript/submit-pokemon.js"></script>

