<div class="container padded-div">
  <div class="row justify-content-center">
    <div class="card p-2 m-2 rounded shadow">
      {{> pokemon-data pokemons}}

      {{#if owner}}
      <a href="/dashboard/edit/{{pokemons.id}}" class="edit-link">Edit Pokemon</a>
      {{/if}}
    </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/edit-pokemon.js"></script>
{{/if}}